.homeDiv {
  background-color: #f5f5dc;
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    padding-top: 250px;
    padding-bottom: 250px;
}

.homeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

  .homeForm {
    display: table;
    margin: auto;
    padding: 20px;
  }

  .homeButton {
    height: 30px; 
    width: 105px;
    margin: auto;
    display: table;
    background-color: #6f41c5;
    color: white;
  }

  .dashboard-header{
    margin-right: auto;
    margin-left: auto;
  }

  .dashboard-header2{
    margin-right: auto;
    margin-left: auto;
  }

  .dashboard-header3{
    margin-right: auto;
    margin-left: auto;
  }

  .header-container{
    text-align: center
  }

  .camera-feed{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 8px;
    
  }

  /* .app
    background-color: #F5F5DC;
    color: #F5F5DC;
  } */